@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navElement {
  @apply flex h-[60px] items-center justify-between px-[2%];
  box-sizing: "border-box";
}
.navElement h1 {
  @apply box-border p-[15px] hover:bg-white hover:text-[rgb(35,83,255)] hover:cursor-pointer;
}

.themeBtn {
  border:none;
  margin-top: 15px;
}
.btnThemeIcon{
  width: 20px;
  height: 20px;
}

.btnThemeIcon:hover{
  color: rgb(35, 83, 255);
  cursor:pointer;
}

.themeBtn span{
  padding: 5px;

}

.navElement h1:hover {
  @apply bg-white text-[rgb(35,83,255)] cursor-pointer;
}
.addCustomer:hover {
  @apply text-[rgb(90,90,255)] cursor-pointer;
}

.ant-table-thead tr {
  @apply text-xl rounded-none;
}
.ant-table-row:hover {
  @apply cursor-pointer;
}
.ant-table-container {
  @apply bg-[rgb(218,218,218)] rounded-none;
}
.ant-pagination-prev {
  @apply bg-[white];
}
.ant-pagination-item {
  @apply bg-[white] ml-2.5;
}
.ant-pagination-next {
  @apply bg-[white] ml-2.5;
}
.custForm {
  @apply bg-[rgb(218,218,218)] box-border p-5;
}




  