body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popup{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.popup div{
  display: flex;
  flex-direction: column;
}
  
.popup label{
  margin-top: 10px;
  margin-bottom: 10px;
}

.editAndAddBtn{
  display:flex ; 
  flex-direction:row !important;
  margin-top:20px;
}

.editAndAddBtn Button {
  width: 80px;
}

.popup input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 90%;
  background-color: rgb(239, 239, 239);
}


.addCustomer{
  width: 100px;
}

.navElement{
  box-sizing:"border-box";
  display: flex;
  height: 60px;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: space-between;

}

.navElement h1{
  box-sizing: border-box;
  padding: 15px;
}

.themeBtn {
  border:none;
  margin-top: 15px;
}


.btnThemeIcon{
  width: 20px;
  height: 20px;
}

.btnThemeIcon:hover{
  color: rgb(35, 83, 255);
  cursor:pointer;
}

.themeBtn span{
  padding: 5px;

}



.navElement h1:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(35, 83, 255);
  cursor: pointer;
}



.addCustomer:hover{
  color:rgb(90, 90, 255);
  cursor: pointer;
}



.ant-table-thead tr{
  font-size: 20px;
  border-radius: 0px !important;


}


.ant-table-row:hover{
  cursor: pointer;
}



.ant-table-container{
  border-radius: 0px !important;
  background-color: rgb(218, 218, 218);
}

.ant-pagination-prev{
  background-color: white;

}
.ant-pagination-item{
  background-color: white !important;
  margin-left: 10px !important;
}

.ant-pagination-next{
  background-color: white;
  margin-left: 10px !important;
}

.custForm{
  background-color: rgb(218, 218, 218);
  box-sizing: border-box;
  padding: 20px;
}




  