body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  
.customerTable{
    text-align: left;
    padding: 50px;
    width: 30%;
    color: black;

}
  
.customerTable th, td{
    box-sizing: border-box;
    padding: 15px;
}
  
.customerTable tr{
    cursor: pointer;
    background-color: rgb(113, 113, 113) !important;
}
  
.customerTable  tr:hover{
    background-color: rgb(183, 183, 183) !important;

}

.followBtn:hover{
    background-color: rgb(209, 209, 209);
    border: none;
}
  
.addCustomers{
    width: 100%;
    padding: 15px;
}

.addCustomers:hover{
    color: rgb(34, 34, 190);
}

.popup{
    color: rgb(0, 0, 0);
    background-color: rgb(113, 113, 113);
    box-sizing: border-box;
    padding: 0px 20px 20px 20px;
    margin-left: 10%;
    margin-top: 8%;
    height: 20%;
    width: 30%;
}

.popup input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

.popup button{
    margin-top: 15px;
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 10px;
}

.popup button:hover{
    background-color: rgb(209, 209, 209);
}

button{
    cursor: pointer;
}


  
  
  
  